{{#each AnimeRender as |r|}}
{{#if r.banner}}
<div class="setsimg">
    <div class="setsshadow"></div>
    <img loading="lazy" src="https://animegenzai.xyz/public/upload/banner/{{r.banner}}" alt="">
</div>
{{/if}}

<div class="Anime-obj-container">

    <div class="Anime-obj-item">

        <div class="Anime-obj-poster">
            <img src="https://animegenzai.xyz/public/upload/cover/{{r.image}}">
        </div>

        <div class="Anime-obj-details">
            <div class="Anime-obj-details-tag">
                {{#each ../AnimeCategories}}
                <a href="/category/{{id}}">
                    <div class="Anime-obj-details-tag-item">
                        <p>{{name}}</p>
                    </div>
                </a>
                {{/each}}
            </div>

            <div class="Anime-obj-details-title">
                <p>{{r.title}}</p>
                <div class="Anime-obj-details-sub-title">
                    {{r.title_sub}}
                </div>
            </div>
            <div class="Anime-obj-details-info">
                {{#if r.country}}
                <div class="Anime-obj-details-info-item">
                    <p>Pais</p>
                    <div class="Anime-obj-details-info-sub-item">
                        <p>{{r.country}}</p>
                    </div>
                </div>
                {{/if}}
                {{#if r.create_year}}
                <div class="Anime-obj-details-info-item">
                    <p>Se Emitio</p>
                    <div class="Anime-obj-details-info-sub-item">
                        <p>{{r.create_year}}</p>
                    </div>
                </div>
                {{/if}}
                {{#if r.duration}}
                <div class="Anime-obj-details-info-item">
                    <p>Duracion</p>
                    <div class="Anime-obj-details-info-sub-item">
                        <p>{{r.duration}} min</p>
                    </div>
                </div>
                {{/if}}
                {{#if r.animestatus}}
                <div class="Anime-obj-details-info-item">
                    <p>Estado del anime</p>
                    <div class="Anime-obj-details-info-sub-item">
                        <p>{{r.animestatus}}</p>
                    </div>
                </div>
                {{/if}}
                {{#if r.timeseason}}
                <div class="Anime-obj-details-info-item">
                    <p>Temporada del Año</p>
                    <div class="Anime-obj-details-info-sub-item">
                        <p>{{r.timeseason}}</p>
                    </div>
                </div>
                {{/if}}
                {{#if r.uploader}}
                <div class="Anime-obj-details-info-item">
                    <p>Creditos a</p>
                    <a href="/profile/{{r.prouploader}}">
                        <div class="Anime-obj-details-info-sub-item uploader">
                            <p>{{r.uploader}}</p>
                        </div>
                    </a>
                </div>
                {{/if}}
            </div>
            <div class="Anime-obj-details-description">
                <p>Descripción</p>
                <div class="Anime-obj-details-description-item">
                    <p>{{r.description}}</p>
                </div>
            </div>
        </div>
        <div class="Anime-obj-se-container">
            <div class="Anime-obj-season">
                {{#each ../AnimeSeason}}
                <div class="Anime-obj-season-item" data-id="{{id}}" data-cont="{{r.id}}">
                    <p>Temporada {{name}}.</p>
                </div>
                {{/each}}
            </div>
            <div class="Anime-obj-episodes">

            </div>
        </div>
        <div class="Pop-container" style="left:3px">
            <div class="Pop-item">
                <div class="Pop-icon">
                </div>
                <div class="Pop-title">
                    <p>Series Similares</p>
                </div>
            </div>
        </div>
        <div class="Anime-similar-container">

            {{#each ../animeSimilar}}
            <a href="/anime/{{id}}">
                <div class="Anime-similar-item">
                    <div class="Anime-similar-shadow">
                        {{#if imdb}}
                        <div class="Anime-tag-imdb">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path
                                    d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
                            </svg>
                            <p>{{imdb}}</p>
                        </div>
                        {{/if}}
                        {{#if animestatus}}
                        <div class="Anime-tag-animestatus">
                            <p>{{animestatus}}</p>
                        </div>
                        {{/if}}
                        {{#if quality}}
                        <div class="Anime-tag-quality">
                            <p>{{quality}}</p>
                        </div>
                        {{/if}}
                        <div class="Anime-Play">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path d="M3 22v-20l18 10-18 10z" />
                            </svg>
                        </div>
                    </div>
                    <div class="Anime-similar-img">
                        <img decoding="async" src="https://animegenzai.xyz/public/upload/cover/{{image}}"
                            loading="lazy">
                    </div>
                    <div class="Anime-similar-title">
                        <p>{{title}}</p>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
    </div>
</div>
{{/each}}
<script src="/components/TabHandler/Tabshandler.js"></script>