<head>
    <link href="https://unpkg.com/multiple-select@1.5.2/dist/multiple-select.min.css" rel="stylesheet">
</head>
{{#each MovieDetails}}
<a href="https://animegenzai.xyz/movie/{{self}}-{{id}}" target="_blank">
    <div class="External-anime">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
                d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z" />
        </svg>
        <p>Abrir Link Externo</p>
    </div>
</a>

<div class="breadcrumb-container">
    <a href="/">
        <div class="breadcrumb-item">
            <p>Inicio</p>
        </div>
    </a>
    <div class="breadcrumb-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M7.33 24l-2.83-2.829 9.339-9.175-9.339-9.167 2.83-2.829 12.17 11.996z" />
        </svg>
    </div>
    <div class="breadcrumb-item breadcrumb-active">
        <p>{{title}}</p>
    </div>
</div>
{{/each}}
<div class="AnimeGenzai-hp">
    <img src="/assets/img/icon.png">
    <div class="AnimeGenzai-hp-title">
        <p>Ayudanos con una donacion en <a href="https://www.paypal.com/paypalme/V3CT0RBUG" target="_blank"><span
                    style="color:#edd534;text-decoration:underline;padding-bottom:2px;">Paypal</span></a> para seguir
            con mas proyectos.</p>
    </div>
    <a href="https://www.paypal.com/paypalme/V3CT0RBUG" target="_blank">
        <div class="AnimeGenzai-hp-button">
            <p>!DONAR¡</p>
        </div>
    </a>
    <div class="AnimeGenzai-hp-wow">
        <img decoding="async" src="https://c.tenor.com/mFAI-RYiVAQAAAAC/anime-wow.gif">
    </div>
</div>
<div class="Episode-container">
    <div class="Episode-Shared-container">
        <div class="Episode-Shared-title">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                    d="M5 7c2.761 0 5 2.239 5 5s-2.239 5-5 5-5-2.239-5-5 2.239-5 5-5zm11.122 12.065c-.073.301-.122.611-.122.935 0 2.209 1.791 4 4 4s4-1.791 4-4-1.791-4-4-4c-1.165 0-2.204.506-2.935 1.301l-5.488-2.927c-.23.636-.549 1.229-.943 1.764l5.488 2.927zm7.878-15.065c0-2.209-1.791-4-4-4s-4 1.791-4 4c0 .324.049.634.122.935l-5.488 2.927c.395.535.713 1.127.943 1.764l5.488-2.927c.731.795 1.77 1.301 2.935 1.301 2.209 0 4-1.791 4-4z" />
            </svg>
            <p>Compartir</p>
        </div>
        {{#each MovieDetails}}
        <div class="Episode-Shared-content">
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://animegenzai.xyz/{{type}}/{{self}}-{{id}}"
                data-type="Facebook" target="_blank">
                <div class="Episode-Shared-content-item">
                    <div class="Episode-Shared-content-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-3 7h-1.924c-.615 0-1.076.252-1.076.889v1.111h3l-.238 3h-2.762v8h-3v-8h-2v-3h2v-1.923c0-2.022 1.064-3.077 3.461-3.077h2.539v3z" />
                        </svg>
                    </div>
                </div>
            </a>
            <a href="https://twitter.com/intent/tweet?text=https://animegenzai.xyz/{{type}}/{{self}}-{{id}}"
                data-type="Twitter" target="_blank">
                <div class="Episode-Shared-content-item">
                    <div class="Episode-Shared-content-item-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-.139 9.237c.209 4.617-3.234 9.765-9.33 9.765-1.854 0-3.579-.543-5.032-1.475 1.742.205 3.48-.278 4.86-1.359-1.437-.027-2.649-.976-3.066-2.28.515.098 1.021.069 1.482-.056-1.579-.317-2.668-1.739-2.633-3.26.442.246.949.394 1.486.411-1.461-.977-1.875-2.907-1.016-4.383 1.619 1.986 4.038 3.293 6.766 3.43-.479-2.053 1.08-4.03 3.199-4.03.943 0 1.797.398 2.395 1.037.748-.147 1.451-.42 2.086-.796-.246.767-.766 1.41-1.443 1.816.664-.08 1.297-.256 1.885-.517-.439.656-.996 1.234-1.639 1.697z" />
                        </svg>
                    </div>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    <div class="Episode-services-container">
        <select class="multiple-select">

            {{#each MovieVideo}}
            <option value="{{sortable}}" data-id="{{id}}" data-iframe="{{video_embed}}">{{service_name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="Episode-player">
        <iframe src="" id="iframe" scrolling="no" allowfullscreen allow="accelerometer;encrypted-media;"></iframe>
    </div>
    <div class="Anime-dt-container">
        {{#each MovieDetails}}
        <div class="Anime-dt-item">
            <div class="Anime-dt-poster">
                <img src="https://animegenzai.xyz/public/upload/cover/{{image}}">
            </div>
            <div class="Anime-dt-details">
                <div class="Anime-dt-title">
                    <p class="Anime-dt-style-se">Pelicula</p>
                    <p class="Anime-dt-style-title">{{title}}</p>
                    {{#if title_sub}}
                    <p class="Anime-dt-style-sub-title">{{title_sub}}</p>
                    {{/if}}
                </div>
                <div class="Anime-dt-more-container">
                    <div class="Anime-dt-more">
                        <p></p>
                        <p></p>
                    </div>
                    <div class="Anime-dt-more">
                        <p></p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="Pop-container" style="left:-1.5px">
        <div class="Pop-item">
            <div class="Pop-icon">
            </div>
            <div class="Pop-title">
                <p>Peliculas Similares</p>
            </div>
        </div>
    </div>
    <div class="Anime-similar-container">
        {{#each peliculaSimilars}}
        <a href="/movie/{{id}}">
            <div class="Anime-similar-item">
                <div class="Anime-similar-shadow">
                    {{#if imdb}}
                    <div class="Anime-tag-imdb">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path
                                d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
                        </svg>
                        <p>{{imdb}}</p>
                    </div>
                    {{/if}}
                    {{#if quality}}
                    <div class="Anime-tag-quality">
                        <p>{{quality}}</p>
                    </div>
                    {{/if}}
                    <div class="Anime-Play">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M3 22v-20l18 10-18 10z" />
                        </svg>
                    </div>
                </div>
                <div class="Anime-similar-img">
                    <img src="https://animegenzai.xyz/public/upload/cover/{{image}}">
                </div>
                <div class="Anime-similar-title">
                    <p>{{title}}</p>
                </div>
            </div>
        </a>
        {{/each}}
    </div>
</div>
<script src="/assets/js/ep.js" defer></script>