<div class="Anime-box" style="margin-top: 20px;">
    {{#each category}}
    {{#ifEquals type "serie"}}
    <a href="/anime/{{id}}">
        <div class="Anime-item">
            <div class="shadow">
                {{#if imdb}}
                <div class="Anime-tag-imdb">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
                    </svg>
                    <p>{{imdb}}</p>
                </div>
                {{/if}}
                {{#if animestatus}}
                <div class="Anime-tag-animestatus">
                    <p>{{animestatus}}</p>
                </div>
                {{/if}}
                {{#if quality}}
                <div class="Anime-tag-quality">
                    <p>{{quality}}</p>
                </div>
                {{/if}}
                <div class="Anime-Play">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M3 22v-20l18 10-18 10z" />
                    </svg>
                </div>
            </div>
            <div class="Anime-img">
                <img src="https://animegenzai.xyz/public/upload/cover/{{image}}">
            </div>
            <div class="Anime-title-container">
                <div class="Anime-title Anime-H1">
                    {{title}}
                </div>

            </div>

        </div>
    </a>
    {{/ifEquals}}
    {{#ifEquals type "movie"}}
    <a href="/movie/{{id}}">
        <div class="Anime-item">
            <div class="shadow">
                {{#if imdb}}
                <div class="Anime-tag-imdb">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z" />
                    </svg>
                    <p>{{imdb}}</p>
                </div>
                {{/if}}
                {{#if quality}}
                <div class="Anime-tag-quality">
                    <p>{{quality}}</p>
                </div>
                {{/if}}
                <div class="Anime-Play">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M3 22v-20l18 10-18 10z" />
                    </svg>
                </div>
            </div>
            <div class="Anime-img">
                <img src="https://animegenzai.xyz/public/upload/cover/{{image}}">
            </div>
            <div class="Anime-title-container">
                <div class="Anime-title Anime-H1">
                    {{title}}
                </div>

            </div>

        </div>
    </a>
    {{/ifEquals}}
    {{/each}}
</div>