<div class="Anime-box">
    {{#each category}}
    {{#ifEquals type "serie"}}
    <a href="/anime/{{id}}">
        <div class="Anime-item">
            <div class="shadow">
                <div class="Anime-ST">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div class="Anime-img">
                <img src="https://animegenzai.xyz/public/upload/cover/{{image}}">
            </div>
            <div class="Anime-title-container">
                <div class="Anime-title Anime-H1">
                    {{title}}
                </div>

            </div>

        </div>
    </a>
    {{/ifEquals}}
    {{#ifEquals type "movie"}}
    <a href="/movie/{{id}}">
        <div class="Anime-item">
            <div class="shadow">
                <div class="Anime-ST">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zM9.555 7.168A1 1 0 008 8v4a1 1 0 001.555.832l3-2a1 1 0 000-1.664l-3-2z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
            </div>
            <div class="Anime-img">
                <img src="https://animegenzai.xyz/public/upload/cover/{{image}}">
            </div>
            <div class="Anime-title-container">
                <div class="Anime-title Anime-H1">
                    {{title}}
                </div>

            </div>

        </div>
    </a>
    {{/ifEquals}}
    {{/each}}
</div>